<h1>About Us</h1>
<p>We wanted to create a simple, easy way for people to create online memorial pages for their loved ones.</p><br />
<p>Our belief is that the memory of your loved one should look great.</p><br />
<p>We also hope to help the planning and coordination of the funeral easier for the bereaved.</p><br />
<p><em>We're sorry for your loss. Tell us how we can help.</em></p><br />